<html>
    <head>
        <link rel="stylesheet" href="CSS/itemList.css">
    </head>
<body>

    <div id="saleItemList">
    <div id="saleItemContainer">
        <a href="viewSale.html">
           <div id="saleItem">
            <img src="Image/nendo1.jpg" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>
    <div id="saleItemContainer">
        <a href="viewSale.html">
           <div id="saleItem">
            <img src="Image/nendo1.jpg" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>
    <div id="saleItemContainer">
        <a href="viewSale.html">
           <div id="saleItem">
            <img src="Image/nendo1.jpg" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>
    <div id="saleItemContainer">
        <a href="viewSale.html">
           <div id="saleItem">
            <img src="Image/nendo1.jpg" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>
    <div id="saleItemContainer">
        <a href="viewSale.html">
           <div id="saleItem">
            <img src="Image/nendo1.jpg" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>
    <div id="saleItemContainer">
        <a href="viewSale.html">
           <div id="saleItem">
            <img src="Image/nendo1.jpg" alt="item image">
            <p id="status">Available</p>
            <p id="price">$66</p>
           </div> 
           <p id="name">Nikkari Aoe Nendoroid</p>
        </a>
    </div>

</div>
</body>


</html>