<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Item</title>
    
    <!-- CSS Links -->
    <link th:href="@{/CSS/viewItem.css}" rel="stylesheet">
    <link th:href="@{/CSS/headerFooter.css}" rel="stylesheet">

    <!-- External Libraries -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" rel="stylesheet">

    <!-- JavaScript Links -->
    <script th:src="@{/JS/sidebar.js}"></script>
    <script th:src="@{/JS/quanManipulation.js}"></script>
     <script th:src="@{/JS/ImageSwap.js}" defer></script>
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div id="saleItem">
   <div id="previewImages">
    <!-- Loop through all images to create thumbnails -->
    <img th:each="image : ${item.images}" 
         th:src="@{/Image/Item/{itemID}/{fileName}(itemID=${item.itemID}, fileName=${image.imagePath})}" 
         class="thumbnail" 
         alt="Thumbnail" 
         height="75px" 
         width="75px" 
         th:attr="data-fullsize=@{/Image/Item/{itemID}/{fileName}(itemID=${item.itemID}, fileName=${image.imagePath})}">
</div>



<div id="imageEnlarge">
    <img id="mainImage" 
         th:src="@{/Image/Item/{itemID}/{fileName}(itemID=${item.itemID}, fileName=${item.images[0]?.imagePath})}" 
         alt="Main Image">
</div>
    <div id="desc">
        <div class="item-header">
            <h2 th:text="${item.itemName}"></h2>
            <p class="heart-container">
                <img th:src="@{/Image/icon/heart.png}" width="25px" height="25px" alt="Heart Icon"> 4

            </p>
        </div>
        <h3 th:text="'USD'+ ${item.price}">USD  $66</h3>
        <div class="quantity-control">
            <label>Quantity: </label>
            <button class="decrease">-</button>
            <input type="number" value="0" name="quan" class="quantity-input" readonly>
            <button class="increase">+</button>
        </div>
        
        

        <button id="addToCartBtn">Add to Cart</button>
        <div id="popupNotification" class="hidden">
            <p>Item has been added to the cart!</p>
        </div>
        <hr color="darkgrey">    
            <h4>Product Description</h4>
                <p th:text="${item.descrip}"></p>
                <p id="last-updated">
    Last Updated: 
    <span th:text="${#temporals.format(item.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span> 
    (<span th:text="${item.getTimeAgo()}"></span>)
</p>
  <hr>      
                <h4>Product information</h4>
                <table class="info-table">
                    <tr>
                        <th>Category:</th>
                        <td th:text="${item.category.getFullCategoryPath()}"></td>
                    </tr>
                    <tr>
                        <th>Condition:</th>
                        <td  th:text="${item.cond}">New</td>
                    </tr>
                    <tr>
                        <th>Tags:</th>
                        <td>touken ranbu, nikkari aoe, nendoroid, good smile</td>
                    </tr>
                </table>
                
                
        <hr>
            <div id="seller">
                
                <h4 style="margin-bottom: 0px;">Seller</h4>
                <div class="profile-container">
                    <img src="Image/profile/default.png" alt="Profile Picture" width="50px" height="50px">
                    <a href="#"><h4 th:text="${item.seller.username}"></h4></a>
                </div>
                <div class="profile-info">
                    <div class="star-rating">
                        <span class="star filled">★</span>
                        <span class="star filled">★</span>
                        <span class="star filled">★</span>
                        <span class="star">★</span>
                        <span class="star">★</span>
                    </div>
                    <p class="identity-verified">
                        <i class="fas fa-user-check"></i> Identity Verified
                    </p>
                </div>
                
                
            </div>
        </div>


</div>
<footer th:insert="fragments/footer :: footer"></footer>
 <script>
        lucide.createIcons();
      </script>

</body>


</html>